{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    {{ parent() }}
<main role="main" class="container">
  <div class="jumbotron">
    <h1>
    {% if app.user %}
        <div class="h5 mx-auto text-center">
            You are logged in as {{ app.user.username }}, <a class="btn-logout" href="{{ path('app_logout') }}">Logout</a>
            {{dump(app.user)}}
        </div>
    {% endif %}
    </h1>
  </div>
</main>
    
   
{% endblock %}
